                <h4>
                    <a href="how-to.html">
                    <img src="./assets/howto/bootstrap-punchout.svg" alt="How to Bootstrap 4" class="bg-primary border rounded border-primary mr-2 mb-1" style="width:30px;height:30px">
                    How to... Bootstrap</a>
                </h4>