<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>How to Create Bootstrap Themes</title>
    <link meta="description" content="How to customize Bootstrap and create custom themes">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/ionicons/3.0.0/css/ionicons.css" />
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <meta property="og:image" name="twitter:image" content="http://themes.guide/favicon-1024.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@ThemesGuide">
    <meta name="twitter:creator" content="@ThemesGuide">
    <meta name="twitter:title" content="Create Bootstrap 4 Themes">
    <meta name="twitter:description" content="Learn how to create custom themes for Bootstrap 4">
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    
      ga('create', 'UA-103606808-1', 'auto');
      ga('send', 'pageview');
    </script>
    <script src="https://www.codeply.com/js/embed.js"></script>
  </head>
  <body id="page-top" data-spy="scroll" data-target=".fixed-top" data-offset="60">
    <% include ./partials/nav %> 
    <div class="container pt-5">
        <div class="row mt-5">
            <div class="col-md-12">
                <% include ./partials/htb %>
            </div>
            <div class="col-md-12 pt-5 text-center">
                <h1 class="font-weight-light">How to Create Bootstrap Themes</h1>
            </div>
        </div>
    </div>
    
    <section id="howto">
        <div class="container">
            <div class="row mb-3">
                <div class="col-sm-10 mx-auto">
                    
                    <h3>Colors</h3>
                    
                    <p class="lead">
                    When it comes to customizing the default Bootstrap look, changing the color palette is the first thing that comes to mind.
                    The standard color palette hasn’t changed much in 3 iterations of Bootstrap, and the latest Bootstrap 4 is no different.</p>
                    
                    <p class="lead">The colors are also easily customized by setting the appropriate SASS variables that are used to generate the Bootstrap theme-colors:</p>
                    
                    <pre class="bg-dark text-white rounded mb-5">
                        
        $primary: #1633ff;
        $secondary: #a0b7bc;
        $success: #1633ff;
        $danger: #00f900;
        $info: #7ebcfa;
        $warning: #00f900;
        $light: #eef0f2;
        $dark: #000633;
                    </pre>
                    
                    <p class="lead">
                    For Bootstrap theming, dealing with “Light” and “Dark” colors can be tricky because color contrast needs to be considered. 
                    Light and dark contrast well with each other and make text easier to read.
                    </p>
                    
                    <img src="./assets/howto/buttons.png" class="d-block img-fluid mx-auto my-4" alt="Bootstrap theme colors">
                    
                    <h3 class="mt-5">Fonts</h3>
                    
                    <p class="lead">
                    Fonts are obviously another huge factor in making all Bootstrap sites look the same. Bootstrap 4’s native font stack is as follows:
                    </p>
                    
                    <pre class="bg-dark text-white rounded mb-5">
                        
          // Safari for OS X and iOS (San Francisco)
          -apple-system,
          // Chrome < 56 for OS X (San Francisco)
          BlinkMacSystemFont,
          // Windows
          "Segoe UI",
          // Android
          "Roboto",
          // Basic web fallback
          "Helvetica Neue", Arial, sans-serif,</pre>
          
                    <p class="lead">
                    Consider using one the many <a href="https://fonts.google.com/" target="_new">Google Fonts</a> for the Bootstrap theme. The custom font can be set as the “base” font family ($font-family-base) for the entire theme. 
                    But, in most cases you’ll only want the custom font applied to headings ($headings-font-family), and keep the very readable default fonts for smaller text.
                    </p>
                    
                    <pre class="bg-dark text-white rounded">
                        
            @import url(https://fonts.googleapis.com/css?family=Nunito:200,300,400,700);
            $headings-font-family:Nunito;
            
                    </pre>
                    
                    <p>
                    Note: For better performance reference the Fonts using a LINK tag in the HEAD if the HTML, instead of @import in the CSS.</p>
                    
                    
                    <h3 class="mt-5">SASS Variables</h3>
                    
                    <p class="lead">
                    To know Bootstrap, is to know that there are a ton of SASS variables. Changing these variables is the very core of <a href="how-to-customize-bootstrap.html">Bootstrap customization</a>. 
                    </p>

                    <pre class="bg-dark text-white rounded mb-5">
                        
            $enable-grid-classes:false;
            
            /*! Import Bootstrap 4 variables */
            @import "bootstrap/functions";
            @import "bootstrap/variables";
            
            $body-bg:#ffffff;
            $display1-weight:600;
            $display2-weight:600;
            $display3-weight:600;
            $btn-border-radius:1.3rem;
            $btn-border-radius-lg:1.6rem;
            $btn-border-radius-sm:.8rem;
            @import "bootstrap";
            
            // Add more SASS theme customizations here..
                    </pre>

                    <h3 class="mt-5">Tools</h3>

                    <p class="lead">
                        To make creating custom Bootstrap themes easier, I built <a href="https://themestr.app">Themestr.app</a>, a custom theme builder for Bootstrap 4. If 
                        you want to create your own Bootstrap themes, but don’t know SASS, try it. Even if you don’t have any experience with SASS, you can use 
                        <a href="https://themestr.app">Themestr.app</a> to easily generate the CSS for your custom theme.
                    </p>

                    <p class="lead">
                    The whole idea of <a href="https://themestr.app" rel="nofollow" target="_new">Themestr.app</a> is to make the Bootstrap customization process easier, and allow you to visualize changes along the way. It includes 
                    starter themes to instantly give your projects <b>a unique, “non-Bootstrap” look</b>. You can change the fonts, colors and many other custom variables based on 
                    Bootstrap SASS. When you’re done, download the custom SASS, or the complete CSS for the new generated theme. 
                    If you choose to use the <a href="how-to-customize-bootstrap.html">SASS customization method described before</a>, 
                    what Themestr.app produces is the custom.scss with all of the appropriate variable customizations.
                    </p>
                    
                    <h3 class="mt-5">Start Theming</h3>

                    <p class="lead">
                    To get started creating custom themes for Bootstrap 4, all of our <a href="./#themes">free, open source themes</a> are integrated with the 
                    <a href="https://themestr.app" rel="nofollow" target="_new">Themestr.app</a> theme builder. This allows you start customizing from the 
                    standard Bootstrap theme, <em>or</em> using one of our themes with custom color palette and fonts. In context of Themestr.app, “theme” refers to 
                    the style layer or “skin”. The “Theme” encompasses colors, fonts and style. A “template” refers to a page layout and its’ HTML structure.
                    </p>
                    
                    <hr>
                    
                    <h6>Watch a Video: <a title="Video: How to create Bootstrap themes" href="https://www.youtube.com/watch?v=9XVGnyKTDwY">How to Create Bootstrap Themes</a></h6>
                    
                    
                </div>
                <div class="col-sm-10 mx-auto mt-5 py-4 border-top">
                    <div class="row">
                        <div class="col-sm mr-auto">
                            <a href="how-to-customize-bootstrap.html">Prev: How to Customize Bootstrap</a>
                        </div>
                        <div class="col-sm-auto text-right">
                            <a href="bootstrap-tools-and-resources.html">Next: Helpful Tools &amp; Resources</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <div id="modalContact" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header d-block">
                    <h3 class="text-center">How can we help you?</h3>
                </div>
                <div class="modal-body">
                    <form id="contactForm" role="form" method="post">
                        <div class="form-group">
                            <label for="inputEmail" class="col-md-2 form-control-label">Email</label>
                            <div class="col-md-12">
                                <input type="email" class="form-control" id="inputEmail" name="contactEmail" required="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputMessage" class="col-md-2 form-control-label">Message</label>
                            <div class="col-md-12">
                                <textarea class="form-control" id="inputMessage" rows="6" name="contactMessage"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xl-12">
                                <button type="submit" id="contactBtn" class="btn btn-primary btn-lg mx-auto">Send it</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="modalThanks" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header d-block text-center">
                    <h3>Thank you!</h3>
                    <h6>We'll be in touch</h6>
                </div>
            </div>
        </div>
    </div>
    <% include ./partials/footer %>
    <!--scripts loaded here-->
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>

  </body>
</html>